<div fxLayout="row" fxLayoutAlign="center center">
  <div fxFlex="40">
    <mat-tab-group>
      <mat-tab label="Login">
        <mat-card class="login-container">
          <mat-card-content>
            <social-login></social-login>
            <div class="divider">or</div>
            <form class="login-form">
              <mat-form-field>
                <input matInput placeholder="Username" [(ngModel)]="username" name="username" required>
              </mat-form-field>
              <mat-form-field>
                <input matInput placeholder="Password" [(ngModel)]="password" type="password" name="password" required>
              </mat-form-field>
            </form>
          </mat-card-content>
          <mat-card-actions>
            <div fxFlex></div>
            <a mat-raised-button (click)="login()" color="primary">Login</a>
          </mat-card-actions>
        </mat-card>
      </mat-tab>
      <mat-tab label="Register">
      </mat-tab>
    </mat-tab-group>
  </div>
</div>
