<div fxLayout="row" fxLayoutAlign="center center">
  <div fxFlex="30" fxFlex.md="40" fxFlex.sm="80" fxFlex.xs="100">
    <mat-tab-group>
      <mat-tab label="Login">
        <mat-card class="login-container">
          <mat-card-content>
            <social-login (onLogin)="onSocialLogin($event)" (onLoginError)="onSocialLoginError($event)"></social-login>
            <div class="divider">or</div>
            <form class="login-form" [formGroup]="loginForm" (submit)="login()" id="loginForm">
              <mat-form-field>
                <input matInput formControlName="email" name="email" type="email" required placeholder="Email" maxlength="255" />
              </mat-form-field>
              <mat-form-field>
                <input matInput formControlName="password" name="password" type="password" required placeholder="Password" minlength="6" maxlength="20" />
              </mat-form-field>
            </form>
          </mat-card-content>
          <mat-card-actions>
            <div fxFlex></div>
            <button mat-raised-button type="submit" color="primary" form="loginForm">Login</button>
          </mat-card-actions>
        </mat-card>
      </mat-tab>
      <mat-tab label="Register">
        <mat-card class="signUp-container">
          <mat-card-content>
            <social-login></social-login>
            <div class="divider">or</div>
            <form class="signUp-form" [formGroup]="signUpForm" (submit)="signUp()" id="signUpForm">
              <div fxLayout="row" fxLayoutGap="20px" fxLayoutAlign="center center">
                <mat-form-field fxFlex="50">
                  <input matInput formControlName="firstName" name="firstName" name="text" required placeholder="First Name" maxlength="30" />
                </mat-form-field>
                <mat-form-field fxFlex="50">
                  <input matInput formControlName="lastName" name="lastName" type="text" name="lastName" required placeholder="Last name" maxlength="30" />
                </mat-form-field>
              </div>
              <mat-form-field>
                <input matInput formControlName="email" name="email" type="email" name="username" type="email" required placeholder="Email" maxlength="255" />
              </mat-form-field>
              <mat-form-field>
                <input matInput formControlName="password" type="password" name="password" required placeholder="Password" minlength="6" maxlength="20" />
              </mat-form-field>
              <mat-form-field>
                <input matInput formControlName="confirmPassword" type="password" name="confirmPassword" required placeholder="Confirm password" minlength="6" maxlength="20" />
              </mat-form-field>
            </form>
          </mat-card-content>
          <mat-card-actions>
            <div fxFlex></div>
            <button mat-raised-button type="submit" color="primary" form="signUpForm">Sign Up</button>
          </mat-card-actions>
        </mat-card>
      </mat-tab>
    </mat-tab-group>
  </div>
</div>
