.mat-tab-labels {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.login-container,
.signUp-container {
  form {
    display: flex;
    flex-direction: column;
  }

  form>mat-form-field {
    width: 100%;
  }
}

.divider {
  font-size: 1.5rem;
  text-align: center;
  margin: 20px 0;
}
