.login-container form {
  display: flex;
  flex-direction: column;
}

.login-container form>mat-form-field {
  width: 100%;
}


.divider {
  font-size: 1.5rem;
  text-align: center;
  margin: 20px 0;
}
