<mat-toolbar color="primary" class="fixed-header">
  <mat-toolbar-row>
    <a mat-button routerLink="/" routerLinkActive="active">Dashboard</a>
    <div fxFlex></div>
    <a mat-button routerLink="/login" *ngIf="!user">Login</a>
    <button mat-raised-button color="primary" [matMenuTriggerFor]="profileMenu" *ngIf="user">
      <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="10px">
        <ngx-avatar src="{{getProfilePicture()}}" size="30"></ngx-avatar>
        <span>{{user.displayName}}</span>
      </div>
    </button>
    <mat-menu #profileMenu="matMenu">
      <button mat-menu-item (click)="logout()">Logout</button>
    </mat-menu>
  </mat-toolbar-row>
</mat-toolbar>
